extends layout

block content
  h1.hidden= title
  img(class="logo" src="https://static.hellochange.cn/logo/logo.svg")
  //- p.desc Mock数据生成接口
  div.split
  h2 协议
  div.cg-table
    table
      tr
        th 协议
        th 地址
        th 入参
        th 示例
      tr
        td
          p GET
        td
          p /get
        td
          p template=encodeURIComponent(JSON.stringify(
            a(href="http://mockjs.com/examples.html#Basic" target="_blank") mock规则
            ))
        td
          p fetch(`/get?template=${encodeURIComponent(JSON.stringify({name:'@cname'}))}`,{
          p.indent method="GET",
          p })
      tr
        td
          p POST
        td
          p /get
        td
          p {template:
            a(href="http://mockjs.com/examples.html#Basic" target="_blank") mock规则
            | }
        td
          p fetch('/get', {
          p.indent method: 'POST',
          p.indent headers: {'Content-type': 'application/json; charset=UTF-8'},
          p.indent body: JSON.stringify({ template: { name: '@cname' }}),
          p })
