body {
  padding: 20px 40px;
}

a {
  color: #5a66ff;
  cursor: pointer;
}

h1.hidden {
  font-size: 0;
}

.logo {
  height: 80px;
}
p{
	padding:0;
	margin:0;
	line-height: 20px;
	padding: 2px 4px;
}

.split {
  height: 40px;
}

.cg-table {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  font-size: 14px;
  color: #666;
  border-spacing: 0;
}
.cg-table table {
  width: 100%;
  border-spacing: 0;
	background: #fafafa;
}

.cg-table th,
.cg-table td {
  position: relative;
  padding: 13px 24px 12px;
  border-bottom: 1px solid #efefef;
  text-align: left;
  overflow-wrap: break-word;
	vertical-align: top;
}

.cg-table th {
  font-weight: bolder;
  color: #111;
	background: #efefef;
}

td p{
	background-color: rgb(231,236,240);
	margin-bottom: 5px;
	border-radius: 4px;
	font-family: 'Times New Roman', Times, serif;
}

td p.indent{
	text-indent: 16px;
}

